.login-container {
  background: linear-gradient(to right, #FEAF00, #fac553);
}

.sidebarContainer{
  background-color: bisque;
}
.sidebarContainer .ps-sidebar-container .ps-menu-button:hover{
  background-color: rgba(239, 155, 40,0.3) !important;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}